<section id="text1">
    <h1>U_PATH RUN SHOES</h1>
    <h2 id="men">MEN ORIGINALS</h2>
    <img id="content1" src="images/addidas.jpg" alt="Adidas Shoe">
    <p id="price">C$ 120</p>
    <h2 id="colors">AVAILABLE COLORS</h2>
</section>


<section id="description">
    <h4>CORE BLACK /ASH SILVER</h4>
    <p>A streamlined combination of retro and modern, these shoes are madeof 
        ripstop for everyday wear. The unique D-ring lacing system is inspired by a '70s running shoe design. A bungee heel piece provides 
        support, and a lightweight EVA midsole adds all-day wearability.</p>
        
    <p class="hidden tablet">Regular fit Lace closure<br>  Ripstop upper with bungee heel overlay<br>  Textile lining; Rubber outsole <br> Enjoy the comfort and performance of OrthoLite® sockliner; Lightweight EVA midsoleSoft<br>  lightweight and breathable feel<br> Product colour: Core Black / Core Black / Ash Silver<br> Product code: EE4468</p>

        <a class="buttons" href="#">Select Size</a>
        <a class="buttons" href="#">Add to Bag</a>
</section>
